.card {
  background-color: #1c1c1c;
  border-radius: 20px;
  overflow: hidden;
}

.card-header {
  background-color: #1c1c1c;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: none;
}

input[disabled] {
  background-color: #1c1c1c;
  border: none;
  color: white;
  font-size: 2.5rem;
  padding: 20px;
  text-align: right;
}

button {
  font-size: 1.5rem;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  color: white;
  transition: 0.2s;
}

button:active {
  opacity: 0.8;
}

/* Colores */
.btn-outline-dark {
  background-color: #505050;
}

.btn-secondary {
  background-color: #ff9500;
}

.btn-danger {
  background-color: #d4d4d2;
  color: black;
}

.btn-success {
  background-color: #ff9500;
}

/* Botón 0 más ancho */
.zero {
  width: 150px !important;
  border-radius: 35px !important;
  text-align: left;
  padding-left: 20px;
}
